.menuItem {
  font-size: 18px;
  margin-bottom: 28px;
  color: #222;
  cursor: pointer;
  transition: color 0.2s;
}

.menuItem:last-child {
  margin-bottom: 0;
}

.bold {
  font-weight: 600;
}

.disabled {
  color: #888;
  cursor: default;
  pointer-events: none;
} 