:root {
  --font-h1: 'Karla', sans-serif;
  --size-h1: 40px;
  --line-h1: auto;
  --weight-h1: 600;

  --font-h2: 'Karla', sans-serif;
  --size-h2: 33px;
  --line-h2: auto;
  --weight-h2: 600;

  --font-h3: 'Karla', sans-serif;
  --size-h3: 25px;
  --line-h3: auto;
  --weight-h3: 600;

  --font-h4: 'Karla', sans-serif;
  --size-h4: 16px;
  --line-h4: auto;
  --weight-h4: 600;

  --font-h5: 'Karla', sans-serif;
  --size-h5: 14px;
  --line-h5: auto;
  --weight-h5: 600;

  --font-h6: 'Karla', sans-serif;
  --size-h6: 12px;
  --line-h6: auto;
  --weight-h6: 600;

  --font-body: 'Karla', sans-serif;
  --size-body: 16px;
  --line-body: auto;
  --weight-body: 400;

  --font-terms: 'Karla', sans-serif;
  --size-terms: 32px;
  --line-terms: auto;

  --font-captions: 'Karla', sans-serif;
  --size-captions: 8px;
  --line-captions: auto;

  --font-logo: 'Karla', sans-serif;
  --size-logo: 46px;
  --line-logo: auto;

  --font-hamburger: 'Karla', sans-serif;
  --size-hamburger: 20px;
  --line-hamburger: auto;
}


.h1 {
  font-family: var(--font-h1);
  font-size: var(--size-h1);
  line-height: var(--line-h1);
  font-weight: var(--weight-h1);
}

.h2 {
  font-family: var(--font-h2);
  font-size: var(--size-h2);
  line-height: var(--line-h2);
  font-weight: var(--weight-h2);
}

.h3 {
  font-family: var(--font-h3);
  font-size: var(--size-h3);
  line-height: var(--line-h3);
  font-weight: var(--weight-h3);
}

.h4 {
  font-family: var(--font-h4);
  font-size: var(--size-h4);
  line-height: var(--line-h4);
  font-weight: var(--weight-h4);
}

.h5 {
  font-family: var(--font-h5);
  font-size: var(--size-h5);
  line-height: var(--line-h5);
  font-weight: var(--weight-h5);
}

.h6 {
  font-family: var(--font-h6);
  font-size: var(--size-h6);
  line-height: var(--line-h6);
  font-weight: var(--weight-h6);
}

.body-copy {
  font-family: var(--font-body);
  font-size: var(--size-body);
  line-height: var(--line-body);
  font-weight: var(--weight-body);
}

.terms-of-service {
  font-family: var(--font-terms);
  font-size: var(--size-terms);
  line-height: var(--line-terms);
}

.captions {
  font-family: var(--font-captions);
  font-size: var(--size-captions);
  line-height: var(--line-captions);
}

.logo {
  font-family: var(--font-logo);
  font-size: var(--size-logo);
  line-height: var(--line-logo);
}

.hamburger-text {
  font-family: var(--font-hamburger);
  font-size: var(--size-hamburger);
  line-height: var(--line-hamburger);
}

:root {
  --color-primary-500: #816CC5;

  --color-neutral-900: #616161;
  --color-neutral-700: #A5A5A5;
  --color-neutral-500: #E8E8E8;

  --color-black: #000000;
  --color-white: #FFFFFF;
}


body {
  margin: 0;
  font-family: 'Karla', sans-serif;
  color: var(--color-black);
  background-color: var(--color-white);

  max-width: 430px;      
  width: 100%;
  margin-inline: auto;   
  height: 100vh;
  box-sizing: border-box;
  overflow-x: hidden;
}

