/* [project]/app/components/hamburgerMenu/HamburgerMenu.module.css [app-client] (css) */
:root {
  --color-primary-500: #816cc5;
  --color-neutral-900: #616161;
  --color-neutral-700: #a5a5a5;
  --color-neutral-500: #e8e8e8;
  --color-black: #000;
  --color-white: #fff;
  --font-h1: "Karla", sans-serif;
  --size-h1: 40px;
  --line-h1: auto;
  --weight-h1: 600;
  --font-h2: "Karla", sans-serif;
  --size-h2: 33px;
  --line-h2: auto;
  --weight-h2: 600;
  --font-h3: "Karla", sans-serif;
  --size-h3: 25px;
  --line-h3: auto;
  --weight-h3: 600;
  --font-h4: "Karla", sans-serif;
  --size-h4: 16px;
  --line-h4: auto;
  --weight-h4: 600;
  --font-h5: "Karla", sans-serif;
  --size-h5: 14px;
  --line-h5: auto;
  --weight-h5: 600;
  --font-h6: "Karla", sans-serif;
  --size-h6: 12px;
  --line-h6: auto;
  --weight-h6: 600;
  --font-body: "Karla", sans-serif;
  --size-body: 16px;
  --line-body: auto;
  --weight-body: 400;
  --font-terms: "Karla", sans-serif;
  --size-terms: 32px;
  --line-terms: auto;
  --font-captions: "Karla", sans-serif;
  --size-captions: 8px;
  --line-captions: auto;
  --font-logo: "Karla", sans-serif;
  --size-logo: 46px;
  --line-logo: auto;
  --font-hamburger: "Karla", sans-serif;
  --size-hamburger: 20px;
  --line-hamburger: auto;
}

.HamburgerMenu-module__qpRzhq__h1 {
  font-family: var(--font-h1);
  font-size: var(--size-h1);
  line-height: var(--line-h1);
  font-weight: var(--weight-h1);
}

.HamburgerMenu-module__qpRzhq__h2 {
  font-family: var(--font-h2);
  font-size: var(--size-h2);
  line-height: var(--line-h2);
  font-weight: var(--weight-h2);
}

.HamburgerMenu-module__qpRzhq__h3 {
  font-family: var(--font-h3);
  font-size: var(--size-h3);
  line-height: var(--line-h3);
  font-weight: var(--weight-h3);
}

.HamburgerMenu-module__qpRzhq__h4 {
  font-family: var(--font-h4);
  font-size: var(--size-h4);
  line-height: var(--line-h4);
  font-weight: var(--weight-h4);
}

.HamburgerMenu-module__qpRzhq__h5 {
  font-family: var(--font-h5);
  font-size: var(--size-h5);
  line-height: var(--line-h5);
  font-weight: var(--weight-h5);
}

.HamburgerMenu-module__qpRzhq__h6 {
  font-family: var(--font-h6);
  font-size: var(--size-h6);
  line-height: var(--line-h6);
  font-weight: var(--weight-h6);
}

.HamburgerMenu-module__qpRzhq__body-copy {
  font-family: var(--font-body);
  font-size: var(--size-body);
  line-height: var(--line-body);
  font-weight: var(--weight-body);
}

.HamburgerMenu-module__qpRzhq__terms-of-service {
  font-family: var(--font-terms);
  font-size: var(--size-terms);
  line-height: var(--line-terms);
}

.HamburgerMenu-module__qpRzhq__captions {
  font-family: var(--font-captions);
  font-size: var(--size-captions);
  line-height: var(--line-captions);
}

.HamburgerMenu-module__qpRzhq__logo {
  font-family: var(--font-logo);
  font-size: var(--size-logo);
  line-height: var(--line-logo);
}

.HamburgerMenu-module__qpRzhq__hamburger-text {
  font-family: var(--font-hamburger);
  font-size: var(--size-hamburger);
  line-height: var(--line-hamburger);
}

body {
  color: #000;
  font-family: var(--font-h1);
  background: #fff;
}

.HamburgerMenu-module__qpRzhq__heading-main {
  font-family: var(--font-h1);
  font-size: var(--size-h1);
  font-weight: var(--weight-h1);
  line-height: var(--line-h1);
}

.HamburgerMenu-module__qpRzhq__create-post-container {
  background: #fff;
  max-width: 400px;
  min-height: 100vh;
  margin: 0 auto;
  padding: 24px 16px;
  position: relative;
}

.HamburgerMenu-module__qpRzhq__create-post-content {
  padding-bottom: 120px;
}

.HamburgerMenu-module__qpRzhq__header-row {
  justify-content: flex-start;
  align-items: center;
  margin-top: 32px;
  margin-bottom: 8px;
  display: flex;
}

.HamburgerMenu-module__qpRzhq__back-button-container {
  cursor: pointer;
  align-items: center;
  width: 24px;
  height: 32px;
  display: flex;
}

.HamburgerMenu-module__qpRzhq__create-post-header {
  text-align: center;
  color: #000;
  flex: 1;
  margin: 0 0 0 -24px;
  font-size: 25px;
}

.HamburgerMenu-module__qpRzhq__add-image-title {
  text-align: center;
  color: #000;
  margin-bottom: 8px;
  font-size: 1.1rem;
  font-weight: 500;
}

.HamburgerMenu-module__qpRzhq__create-captions-title {
  color: #000;
  margin: 18px 0 6px;
  font-size: 1rem;
  font-weight: 600;
}

.HamburgerMenu-module__qpRzhq__create-post-button-bar {
  z-index: 99999;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
  max-width: 400px;
  margin: 0 auto;
  padding: 16px;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
}

.HamburgerMenu-module__qpRzhq__splash-container {
  box-sizing: border-box;
  background: #fff;
  border: 8px solid #f2f0f9;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  display: flex;
}

.HamburgerMenu-module__qpRzhq__splash-title {
  color: #000;
  margin-bottom: 24px;
  font-size: 1.5rem;
  font-weight: 600;
}

.HamburgerMenu-module__qpRzhq__splash-button-wrapper {
  width: 180px;
}

.HamburgerMenu-module__qpRzhq__create-post-button {
  color: #fff;
  cursor: pointer;
  background: #816cc5;
  border: none;
  border-radius: 8px;
  width: 100%;
  padding: 12px 24px;
  font-size: 1.25rem;
  font-weight: 600;
}

.HamburgerMenu-module__qpRzhq__filter-label {
  color: var(--color-black);
  margin: 0;
  box-sizing: border-box;
  width: 100%;
  max-width: 430px;
  height: 100vh;
  margin-inline: auto;
  font-family: Karla, sans-serif;
  font-weight: bold;
  overflow-x: hidden;
}

.HamburgerMenu-module__qpRzhq__jobsMain {
  background: #fff;
}

.HamburgerMenu-module__qpRzhq__jobsCardsContainer {
  flex-direction: column;
  gap: 0;
  margin: 16px 0 10px;
  display: flex;
}

.HamburgerMenu-module__qpRzhq__jobsContainer {
  width: 100%;
  max-width: 440px;
  margin-inline: auto;
  position: relative;
}

.HamburgerMenu-module__qpRzhq__jobsTopBar {
  align-items: center;
  gap: 4px;
  margin-bottom: 5px;
  padding: 0;
  display: flex;
}

.HamburgerMenu-module__qpRzhq__jobsSearchBar {
  flex: 1;
  align-items: center;
  display: flex;
  position: relative;
}

.HamburgerMenu-module__qpRzhq__jobsSearchIcon {
  pointer-events: none;
  opacity: .7;
  width: 22px;
  height: 22px;
  position: absolute;
  top: 50%;
  left: 12px;
  transform: translateY(-55%);
}

.HamburgerMenu-module__qpRzhq__jobsSearchInput {
  border: 2px solid var(--color-neutral-900);
  font-size: var(--size-body);
  border-radius: 5px;
  outline: none;
  flex: 1;
  padding: 8px 20px 8px 40px;
}

.HamburgerMenu-module__qpRzhq__jobsPlusButton {
  background: none;
  border: none;
  margin-left: 10px;
  padding: 0;
}

.HamburgerMenu-module__qpRzhq__jobsMessagesButton {
  background: none;
  border: none;
  padding: 0;
}

.HamburgerMenu-module__qpRzhq__jobsTabs {
  white-space: nowrap;
  gap: 5px;
  margin-bottom: 12px;
  padding: 0;
  display: flex;
  overflow-x: auto;
}

.HamburgerMenu-module__qpRzhq__jobsTab {
  color: #888;
  font-weight: 400;
  font-size: var(--size-body);
  cursor: pointer;
  background: #eee;
  border: none;
  border-radius: 10px;
  flex-shrink: 0;
  align-items: center;
  gap: 8px;
  margin-right: 5px;
  padding: 8px 14px;
  display: flex;
}

.HamburgerMenu-module__qpRzhq__jobsTabSelected {
  background: var(--color-primary-500);
  color: var(--color-white);
  box-shadow: 0 2px 0 var(--color-primary-500);
}

.HamburgerMenu-module__qpRzhq__jobsSubtabs {
  border: 2px solid var(--color-primary-500);
  font-weight: 800;
  font-size: var(--size-body);
  border-radius: 4px;
  margin-bottom: 16px;
  display: flex;
  overflow: hidden;
}

.HamburgerMenu-module__qpRzhq__jobsSubtab {
  background: var(--color-white);
  color: var(--color-primary-500);
  cursor: pointer;
  text-align: center;
  border: none;
  flex: 1;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
  font-family: inherit;
  font-size: 16px;
  font-weight: 600;
  text-decoration: none;
  transition: all .2s;
  display: flex;
}

.HamburgerMenu-module__qpRzhq__jobsSubtabSelected {
  background: var(--color-primary-500);
  color: var(--color-white);
}

.HamburgerMenu-module__qpRzhq__jobsFilterRow {
  align-items: center;
  gap: 8px;
  margin-bottom: 8px;
  padding: 0;
  display: flex;
}

.HamburgerMenu-module__qpRzhq__jobsFilterIcon {
  color: #0000;
  cursor: pointer;
  width: 24px;
  height: 24px;
  margin-bottom: -20px;
  padding: 0;
}

.HamburgerMenu-module__qpRzhq__jobDetailContainer {
  max-width: 440px;
  margin: 0 auto;
  padding: 24px;
}

.HamburgerMenu-module__qpRzhq__jobDetailTitle {
  font-size: var(--size-h2);
  margin-bottom: 4px;
  font-weight: 700;
}

.HamburgerMenu-module__qpRzhq__jobDetailCompany {
  font-weight: 600;
  font-size: var(--size-h3);
  margin-bottom: 4px;
}

.HamburgerMenu-module__qpRzhq__jobDetailLocation {
  color: var(--color-neutral-900);
  font-size: var(--size-body);
  margin-bottom: 4px;
}

.HamburgerMenu-module__qpRzhq__jobDetailPosted {
  color: var(--color-neutral-700);
  font-size: var(--size-body);
  margin-bottom: 16px;
}

.HamburgerMenu-module__qpRzhq__jobDetailApplyButton {
  background: var(--color-primary-500);
  width: 100%;
  color: var(--color-white);
  font-weight: 600;
  font-size: var(--size-body);
  box-shadow: 0 2px 0 var(--color-primary-500);
  cursor: pointer;
  border: none;
  border-radius: 14px;
  margin-bottom: 24px;
  padding: 14px 0;
}

.HamburgerMenu-module__qpRzhq__jobDetailDivider {
  margin: 24px 0;
}

.HamburgerMenu-module__qpRzhq__jobDetailSectionHeader {
  font-size: var(--size-h3);
  margin-bottom: 12px;
  font-weight: 700;
}

.HamburgerMenu-module__qpRzhq__jobDetailDescription {
  font-size: var(--size-body);
}

.HamburgerMenu-module__qpRzhq__jobDetailBackButton {
  cursor: pointer;
  background: none;
  border: none;
  align-items: center;
  margin-bottom: 16px;
  padding: 0;
  display: flex;
}

.HamburgerMenu-module__qpRzhq__jobDetailBackIcon {
  width: 40px;
  height: 40px;
}

.HamburgerMenu-module__qpRzhq__jobsHamburgerFixed {
  z-index: 1000;
  background: #fff;
  width: 440px;
  position: fixed;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}

.HamburgerMenu-module__qpRzhq__jobsCardLink {
  color: inherit;
  width: 100%;
  margin: 0;
  padding: 0;
  text-decoration: none;
  display: block;
}

.HamburgerMenu-module__qpRzhq__jobsFilterLabel {
  font-size: 25px;
  font-weight: 500;
}

.HamburgerMenu-module__qpRzhq__jobsHamburgerSpacer {
  width: 100%;
  height: 100px;
}

.HamburgerMenu-module__qpRzhq__jobsCreatePostIcon {
  width: 40px;
  height: auto;
}

.HamburgerMenu-module__qpRzhq__jobsMessagesIcon {
  width: 45px;
  height: auto;
}

.HamburgerMenu-module__qpRzhq__filterTag {
  color: #888;
  letter-spacing: .5px;
  opacity: .95;
  background: #e0e0e0;
  border-radius: 8px;
  margin-bottom: -20px;
  margin-right: 8px;
  padding: 4px 18px;
  font-family: inherit;
  font-size: 17px;
  font-weight: 600;
  display: inline-block;
}

.HamburgerMenu-module__qpRzhq__filterLabel {
  color: #111;
  margin-bottom: -20px;
  margin-right: 8px;
  font-size: 25px;
  font-weight: 700;
  display: inline-block;
}

.HamburgerMenu-module__qpRzhq__hamburgerMenuContainer {
  z-index: 1000;
  background-color: var(--color-white);
  flex-direction: column;
  width: 440px;
  height: 98px;
  transition: all .3s ease-in-out;
  display: flex;
  position: fixed;
  overflow: visible;
}

.HamburgerMenu-module__qpRzhq__hamburgerMenuContainer.HamburgerMenu-module__qpRzhq__open {
  width: 338px;
  height: 100vh;
}

.HamburgerMenu-module__qpRzhq__hamburgerMenuButtonContainer {
  z-index: 1002;
  margin-top: 38px;
  margin-left: 0;
  transition: margin-left .3s ease-in-out;
}

.HamburgerMenu-module__qpRzhq__hamburgerMenuContainer.HamburgerMenu-module__qpRzhq__open .HamburgerMenu-module__qpRzhq__hamburgerMenuButtonContainer {
  margin-left: 0;
}

.HamburgerMenu-module__qpRzhq__hamburgerMenuButton {
  cursor: pointer;
  background-color: #0000;
  border: none;
  border-radius: 8px;
  justify-content: center;
  align-items: center;
  padding: 0;
  transition: transform .3s;
  display: flex;
}

.HamburgerMenu-module__qpRzhq__hamburgerMenuButton:hover {
  transform: scale(1.1);
}

.HamburgerMenu-module__qpRzhq__hamburgerMenuIcon {
  width: 44px;
  height: 44px;
  padding: 0;
}

.HamburgerMenu-module__qpRzhq__menuItems {
  background-color: var(--color-white);
  z-index: 1002;
  opacity: 0;
  visibility: hidden;
  width: 100%;
  height: 100vh;
  padding-top: 30px;
  padding-bottom: 20px;
  transition: opacity .3s;
}

.HamburgerMenu-module__qpRzhq__hamburgerMenuContainer.HamburgerMenu-module__qpRzhq__open .HamburgerMenu-module__qpRzhq__menuItems {
  opacity: 1;
  visibility: visible;
}

.HamburgerMenu-module__qpRzhq__menuItem {
  color: var(--color-black);
  font-family: var(--font-body);
  font-size: var(--size-hamburger);
  padding: 5px 20px;
  font-weight: 500;
  text-decoration: none;
  transition: background-color .2s;
  display: block;
}

.HamburgerMenu-module__qpRzhq__menuItem:hover {
  background-color: var(--color-neutral-500);
}

.HamburgerMenu-module__qpRzhq__menuItemContent {
  align-items: center;
  gap: 12px;
  display: flex;
}

.HamburgerMenu-module__qpRzhq__menuItemIcon {
  object-fit: contain;
  width: 24px;
  height: 24px;
}

.HamburgerMenu-module__qpRzhq__hamburgerMenuOverlay {
  z-index: 998;
  opacity: 0;
  visibility: hidden;
  background-color: #0003;
  width: 98px;
  height: 100vh;
  transition: opacity .3s;
  position: absolute;
  top: 0;
  left: 338px;
}

.HamburgerMenu-module__qpRzhq__hamburgerMenuOverlay.HamburgerMenu-module__qpRzhq__open {
  opacity: 1;
  visibility: visible;
  z-index: 998;
}

@keyframes HamburgerMenu-module__qpRzhq__fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

.HamburgerMenu-module__qpRzhq__menuHeaderRow {
  justify-content: space-between;
  align-items: center;
  height: 98px;
  padding: 0;
  display: flex;
}

.HamburgerMenu-module__qpRzhq__profileSection {
  opacity: 1;
  align-items: center;
  gap: 12px;
  margin-top: 50px;
  transition: opacity .3s;
  display: flex;
}

.HamburgerMenu-module__qpRzhq__profilePic {
  object-fit: cover;
  border-radius: 50%;
  width: 44px;
  height: 44px;
}

.HamburgerMenu-module__qpRzhq__profileName {
  font-family: var(--font-h3);
  font-size: var(--size-h3);
  color: var(--color-black);
  font-weight: 600;
}

.HamburgerMenu-module__qpRzhq__subMenuGroup {
  border-left: 2px solid var(--color-neutral-300);
  margin-left: 32px;
  padding-bottom: 10px;
  padding-left: 12px;
}

.HamburgerMenu-module__qpRzhq__logoutButton {
  width: 100%;
  color: var(--color-black);
  font-family: var(--font-body);
  font-size: var(--size-body);
  text-align: left;
  cursor: pointer;
  z-index: 1003;
  background: none;
  border: none;
  padding: 0 0 0 48px;
  transition: color .2s;
  position: absolute;
  bottom: 32px;
  left: 0;
}

.HamburgerMenu-module__qpRzhq__logoutButton:hover {
  color: var(--color-primary);
}

/*# sourceMappingURL=app_components_hamburgerMenu_HamburgerMenu_module_css_f9ee138c._.single.css.map*/