@import "tailwindcss";

:root {
  --font-h1: "Karla", sans-serif;
  --size-h1: 40px;
  --line-h1: auto;
  --weight-h1: 600;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background: #fff;
  color: #000;
  font-family: var(--font-h1), Arial, Helvetica, sans-serif;
}

.heading-main {
  font-family: var(--font-h1);
  font-size: var(--size-h1);
  font-weight: var(--weight-h1);
  line-height: var(--line-h1);
}

.create-post-container {
  min-height: 100vh;
  background: #fff;
  padding: 24px 16px;
  max-width: 400px;
  margin: 0 auto;
  position: relative;
}

.create-post-content {
  padding-bottom: 120px;
}

.header-row {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  margin-bottom: 8px;
  margin-top: 32px;
}

.back-button-container {
  cursor: pointer;
  width: 24px;
  height: 32px;
  display: flex;
  align-items: center;
}

.create-post-header {
  flex: 1;
  text-align: center;
  color: #000;
  font-size: 25px;
  margin: 0;
  margin-left: -24px;
}

.add-image-title {
  text-align: center;
  color: #000;
  font-size: 1.1rem;
  font-weight: 500;
  margin-bottom: 8px;
}

.create-captions-title {
  color: #000;
  font-size: 1rem;
  font-weight: 600;
  margin: 18px 0 6px 0;
}

.create-post-button-bar {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  padding: 16px 16px;
  z-index: 99999;
  max-width: 400px;
  margin: 0 auto;
  border-top-left-radius: 18px;
  border-top-right-radius: 18px;
}

.splash-container {
  min-height: 100vh;
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 8px solid #F2F0F9;
  box-sizing: border-box;
}

.splash-title {
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 24px;
  color: #000;
}

.splash-button-wrapper {
  width: 180px;
}

.create-post-button {
  font-size: 1.25rem;
  width: 100%;
  padding: 12px 24px;
  background: #816CC5;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
}

.filter-label {
  font-weight: bold;
}
